<div class="search-form">
    <%= form_tag("/stocks/create", method: "post") do %>
              <%= text_field_tag "symbol", "AAPL", class: "form-control input-lg search_input" %>
              <%= submit_tag "Search", class: "btn btn-lg btn-primary search_submit_btn" %>
    <% end %>
</div>

