
<div class="search-form current_pain_search_form">
    <%= text_field_tag "symbol", nil, placeholder: "AAPL", class: "form-control input-lg search_input current_pain_symbol" %>
    <%= button_tag "Current Pain", remote: true, class: "btn btn-lg btn-primary search_submit_btn search_btn_wo_form current_pain_btn" %>
</div>