        <div class="ibox float-e-margins">
            <div class="row">
                <div class="col-xs-4">
                    <div class="m-l-md">
                        <span class="h3 font-bold m-t block">$<%= @close_prices[@current_pain_idx] %></span>
                        <small class="text-muted m-b block"><% Date.today %> Predicted Stock's close price </small>
                    </div>
                </div>
            </div>
            <div class="ibox-title">
                <h5>Current Pain</h5>
            </div>
            <div class="ibox-content">
                <div id="ct-chart3" class="ct-perfect-fourth" style="height: 400px;"></div>
            </div>
        </div>

<% content_for :javascript do %>
<script type="text/javascript">

$(function(){
    console.log('imhere');

    new Chartist.Bar('#ct-chart3', {
                labels: gon.strike_price_array,
                series: [
                    gon.call_volumes,
                    gon.put_volumes
                ]
            }, {
                stackBars: true,
                axisY: {
                    labelInterpolationFnc: function(value) {
                        return (value / 10000000) + 'm';
                    }
                }
            }).on('draw', function(data) {
                        if(data.type === 'bar') {
                            data.element.attr({
                                style: 'stroke-width: 15px'
                            });
                        }
            });

});
</script>
<% end %>