<tr>
    <td><%= Stock.find(stock.stock_id).name %></td>
    <td><%= Stock.find(stock.stock_id).symbol %></td>
    <td><%= Date.today %> </td>
    <td class="text-navy"> <i class="fa fa-level-up"></i> 40% </td>
</tr>