<div class="wrapper wrapper-content animated fadeInRight">

<div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5> Golden Cross </h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">

                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th> Company Name </th>
                        <th> Symbol </th>
                        <th> Date </th>
                        <th> Profit since last revert</th>
                    </tr>
                    </thead>
                    <tbody id='golden_cross_list'>
                    <% @golden_cross_stocks.each do |stock| %>
                        <%= render 'stock' %>
                    <% end %>
                    </tbody>
                </table>
                <div id="paginator">
                    <%= paginate @golden_cross_stocks, :remote => true %>
                </div>
                
            </div>
        </div>
    </div>
</div>

