<div class="col-lg-6">
    <div class="tabs-container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#monday"> Monday </a></li>
            <li class=""><a data-toggle="tab" href="#tuesday"> Tuesday </a></li>
            <li class=""><a data-toggle="tab" href="#wednesday"> Wednesday </a></li>
            <li class=""><a data-toggle="tab" href="#tuesday"> Thursday </a></li>
            <li class=""><a data-toggle="tab" href="#wednesday"> Friday </a></li>
        </ul>
        <div class="tab-content">
            <div id="monday" class="tab-pane active">
                <div class="panel-body">
                </div>
            </div>
            <div id="tuesday" class="tab-pane">
                <div class="panel-body">
                </div>
            </div>
            <div id="tab-5" class="tab-pane">
                <div class="panel-body">
                </div>
            </div>
        </div>
    </div>
</div>