<div class="col-lg-12">
    <div class="tabs-container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#monday"> 
                <span class="label label-success">1</span> 
                Monday </a></li>
            <li class=""><a data-toggle="tab" href="#tuesday"> 
                <span class="label label-info">2</span>
                Tuesday </a></li>
            <li class=""><a data-toggle="tab" href="#wednesday"> 
                <span class="label label-primary">3</span> 
                Wednesday </a></li>
            <li class=""><a data-toggle="tab" href="#thursday"> 
                <span class="label label-default">4</span> 
                Thursday </a></li>
            <li class=""><a data-toggle="tab" href="#friday"> 
                <span class="label label-primary">5</span> 
                Friday </a></li>
        </ul>
        <div class="tab-content">
            <div id="monday" class="tab-pane active">
                <div class="panel-body">
                </div>
            </div>
            <div id="tuesday" class="tab-pane">
                <div class="panel-body">
                </div>
            </div>
            <div id="wednesday" class="tab-pane">
                <div class="panel-body">
                </div>
            </div>
            <div id="thursday" class="tab-pane">
                <div class="panel-body">
                </div>
            </div>
            <div id="friday" class="tab-pane">
                <div class="panel-body">
                </div>
            </div>
        </div>
    </div>
</div>