<div class="col-sm-3">
    <h2>Earning Reports</h2>
    <p>You can search an equity's past performance. We analyze how an earning report release affects stock's pricing.</p>
    <p><a class="navy-link" href="#" role="button">Details &raquo;</a></p>
</div>
<div class="col-sm-3">
    <h2>Current/Maximum Pain</h2>
    <p>Current/Maximum Pain predicts a stock's price at the end of the day/the week, based on an equity's options open interests.</p>
    <p><a class="navy-link" href="#" role="button">Details &raquo;</a></p>
</div>
<div class="col-sm-3">
    <h2>5/10 SMA Cross</h2>
    <p>We alert you those stocks that just appears five or ten days simple moving average (golden/death) crosses.</p>
    <p><a class="navy-link" href="#" role="button">Details &raquo;</a></p>
</div>
<div class="col-sm-3">
    <h2>TD Sequential Indicator</h2>
    <p>We list those stocks that are on the eighth day of TD Sequencial Counter, so you can gain more from it.</p>
    <p><a class="navy-link" href="#" role="button">Details &raquo;</a></p>
</div>