<div class="search-form">
    <%= text_field_tag "symbol", nil, placeholder: "AAPL", class: "form-control input-lg search_input earning_symbol_input" %>
    <%= button_tag "Search", class: "btn btn-lg btn-primary search_submit_btn search_btn_wo_form earning_btn" %>
</div>
