<div class="search-form">
    <%= text_field_tag "symbol", "AAPL", class: "form-control input-lg search_input" %>
    <%= button_tag "Search", remote: true, class: "btn btn-lg btn-primary search_submit_btn search_btn_wo_form" %>
</div>