<div class="wrapper wrapper-content animated fadeInRight">

<div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5> Golden Cross </h5>
                <div class="ibox-tools">
                    <span class="label label-navy-light"><%= @today %></span>
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">

                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th> Company Name </th>
                        <th> Symbol </th>
                        <th> Stock Price </th>
                        <th> Today's change </th>
                    </tr>
                    </thead>
                      <tbody id='golden_cross_list'>
                        
                        <%= render 'golden' %>
                        
                      </tbody>
                </table>
                <div class="row">
                    <div class="col-md-1 col-md-offset-10">
                        <%= button_to "Read more...", '/golden', :class => "btn btn-info btn-sm pull-right", :method => :get %> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

