<table class="table table-striped">
    <thead>
    <tr>
        <th>Date</th>
        <th class="text-center">Golden/Death Cross</th>
        <th class="text-center">Profits since last Revert</th>
    </tr>
    </thead>
    <tbody>
        <% @five_ten.each do |cross| %>
        <tr>
            <td><%= cross.date %></td>
            <% if cross.cross == 1 %> 
            <td class="text-center"><span class="label label-primary" style="
    font-size: 14px;">Golden Cross</span></td>
            <% elsif cross.cross == 2 %> 
            <td class="text-center">Upward Trend</td>
            <% elsif cross.cross == -1 %> 
            <td class="text-center"><span class="label label-danger" style="
    font-size: 14px;">Death Cross</span></td>
            <% else %> 
            <td class="text-center">Downward Trend</td>
            <% end %>
            <td class="text-navy text-center"> <i class="fa fa-level-up"></i> 40% </td>
        </tr>
        <% end %>
    </tbody>
</table>