<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="row info">
				<div class="col-md-8">
					<h2 class="text-primary">
							Welcome to Yumiko's Options House
					</h2>
					<div class="text-success text-justify">
						  If you are the first person on our site to look up a particular equity, it will take a bit longer to load historical data. We are aggressively making improvements. We will show you how releases of equities' earnings affected their stock pricing. You can also check out equities' upcoming earnings release dates from here.
					</div>
				</div>
			</div>
			<div class="clear"></div>		
			<%= render 'search' %>
			</div>	
			<div class="clear"></div>
		</div>
		<div class="row">
			<%= render 'upcoming' %>
		</div>

		<div class="put_call_ratio">
			
		</div>

		<div class="col-md-2">
		</div>
</div>



