<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<%= text_field_tag(:option_symbol) %>
		<%= button_tag "Get Option Chains", class: "option_chains" %>
	</div>
</div>

<div class="row">
	<div class="current_pain_diagram col-md-12">

	</div>
</div>
