<div class="container">

	<div class="row">
		<div class="col-md-4">
			Company Name
		</div>	
		<div class="col-md-2">
			Stock Symbol
		</div>
		<div class="col-md-2">
			
		</div>		
		<div class="col-md-4">
			Release Time
		</div>
	</div>

  <% @stocks.each do |stock| %>
	<div class="row">
		<div class="col-md-4">
			<%= stock.company_name %>
		</div>	
		<div class="col-md-2">
			<a href="../stocks/<%=stock.symbol%>"><%= stock.symbol %></a>
		</div>
		<div class="col-md-2">
			
		</div>		
		<div class="col-md-4">
			<%= stock.time %>
		</div>
	</div>
	<% end %>
</div>