.current_pain_diagram {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  position: relative;
  width: 960px;
}

text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

form.radio_btns {
  position: absolute;
  top:10px;
  right: 10px;
}

form.radio_btns label{
	width: 150px;
}

form.radio_btns input{
	width: 10px;
	margin-right: 10px;
	height: 15px;
}